@media (max-width: $phoneWidth) {
    .container {
        padding: 0;        
    }

    .main {              
        &__img-left {
            left: -15%;
            img {
                
                width: 151px;
                height: 151px;
            }
        }
        &__img-right {
            img {
                display: none;
                &:nth-child(1) {
                    display: block;
                    width: 75px;
                    height: 150px;   
                }
            }
        }
        &__corean-sign {
            font-size: 15px;
        }
    }
    .sing {
        svg {
            width: 350px;
            height: 80px;
        }
    }
    .header {           
        &__list {
            gap: 30px;
        }
        &__item {
            font-size: 20px;
        }
    }
    
    .StopWatch {
        .StopWatch__main {
            font-size: 150px;
        }
        .StopWatch__mseconds {
            font-size: 30px;
            
        }
        .StopWatch__text-mc {
            font-size: 20px;
        }
        margin-bottom: 100px;
    }

}
@media (max-width: $smDesktopWidth) {    
    .main {
        &__img-left {
            img {
                width: 191px;
                height: 191px;
            }
        }
        &__img-right {
            img {
                display: none;
                &:nth-child(1) {
                    display: block;
                    width: 150px;
                    height: 300px;   
                }
            }
        }
    }
    .sing {
        svg {
            width: 900px;
            height: 150px;
        }
    }
}
//
@media (max-width: $smTableWidth) {
    .StopWatch__main {
        font-size: 240px;
        margin-bottom: 20px;    
    }
    .sing {
        svg {
            width: 700px;
            height: 100px;
        }
    }
    .main__corean-sign {
        font-size: 15px;
        max-width: 60px;
    }
    .app {		
		&__blur {
			margin: 0 8px;
		}
	}
}

@media (max-width: $tableWidth) {
    .StopWatch {
        &__mseconds {
            font-size: 35px;
        }
        margin: 0 0 65px 0;
    }
}

//-----hight-----//
@media (max-hight: 770px) {
    .sing {
        svg {
            width: 50px;
            height: 50px;
        }
    }
    
}


//---------Slide-Menu------------//
@media (max-width: $tableWidth) {
    .SlideMenu {
        top: 70px;
        right: 0;

        &__body {
            padding: 20px 15px;
        }
        &__title {

        }
        &__list {

        }
        &__item {

        }
    }
}