@import './_nullstyle.scss';
@import './vars';
@import './fonts';
@import './adaptive';

.container {
    max-width: 1150px;
    margin: 0 auto;
    padding: 0px 15px;
}

body,html {
    width: 100%;
    height: 100%;
    background-color: #000;
    background: url(@/assets/img/background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

.wrapper {
    min-width: 100%;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}

.header {
    font-family: $Inconsolata;
    font-size: 25px;
}

.StopWatch {
    font-family: $Bebas;
}
.main__corean-sign {
    font-family: $Bebas;
}
@import './buttons.scss';
